.stat_box
  .row
    %h1 Results for tags: #{tag_list}
    %br
  .row
    .col-md-12.text-center
      %h1 #{ pluralize @alltrades.count, 'trade'}
  .row.chart
    .col-md-6
      = line_chart statistics_chart(@alltrades), discrete: true
    .col-md-6
      = pie_chart win_rate_chart(@alltrades)
  .row.stats
    .col-md-3.col-md-offset-3
      %p
        %strong Total #{ unit + ": " }
        = total_pip_result @alltrades
      %p
        %strong  Average result:
        = average_pip_result @alltrades
        = unit
      %p
        %strong  Winning percentage:
        = win_rate @alltrades
    .col-md-3
      %p
        %strong  Largest win:
        = largest_win @alltrades
        = unit
      %p
        %strong  Largest loss:
        = largest_loss @alltrades
        = unit
