.stat_box
  .row
    %h1 Results for tags: #{tag_list}
    %br
  .row.chart
    .col-md-8.col-md-offset-2
      %h1 #{ pluralize @alltrades.count, 'trade'}
      = line_chart statistics_chart(@alltrades), discrete: true
  .row.stats
    .col-md-3.col-md-offset-3
      %p
        %strong Total #{ unit + ": " }
        = total_pip_result @alltrades
      %p
        %strong  Average result:
        = average_pip_result @alltrades
        = unit
      %p
        %strong  Winning percentage:
        = win_rate @alltrades
    .col-md-3
      %p
        %strong  Largest win:
        = largest_win @alltrades
        = unit
      %p
        %strong  Largest loss:
        = largest_loss @alltrades
        = unit
