.stat_box
    .row
        %h1 Results for tags: #{@tags}
        %br
    .row
        .col-md-8.col-md-offset-2
            = line_chart @chart.group_by_day(:created_at).count

    .row
        .col-md-3.col-md-offset-3
            %p
                Total pips:
                #{@pipresult}
            %p
                Average trade outcome:
                #{@average} pips
            %p
                Winning percentage:
                #{@winrate}%
        .col-md-3
            %p
                Largest win:
                #{@largestwin}
            %p
                Largest loss:
                #{@largestloss}

