.stat_box
    .row
        %h1 Results for tags: #{@tags}
        %br
    .row
        .col-md-8.col-md-offset-2
            -# = line_chart @trades.group(:created_at).sum(:result)
            -# = line_chart @chart.group(:created_at).sum(:Result).order("day asc").count.map { |x,y| { x => (@sum += y)} }.reduce({}, :merge)
            = line_chart @trades.group_by_day("trades.created_at").order("day asc").sum(:result).map { |x,y| { x => (@sum += y)} }.reduce({}, :merge), library: hAxis: {title: "Date"}, vAxis: {title: "Pips"}, hAxis.format: { "MM/dd/yy"}
    .row
        .col-md-3.col-md-offset-3
            %p
                Total pips:
                #{@pipresult}
            %p
                Average trade outcome:
                #{@average} pips
            %p
                Winning percentage:
                #{@winrate}%
        .col-md-3
            %p
                Largest win:
                #{@largestwin}
            %p
                Largest loss:
                #{@largestloss}

