.stat_box
    %h1 Results for tags: #{@tags}
    %p
        Total pips:
        #{@pipresult}
    %p
        Average trade outcome:
        #{@average} pips
    %p
        Winning percentage:
        #{@winrate}%
    %p
        Largest win:
        #{@largestwin}
    %p
        Largest loss:
        #{@largestloss}

