= flash_messages
= form_for 'review_route', method: :get, input_class: "form-inline form_box" do
    .form-inline
        .form-group.form_box
            %h2 Search Your Trade Tags
            = text_field_tag :query, params[:query], class: "form-control", placeholder: 'Separate with commas'
            = date_field :startdate, params[:startdate], class: "form-control", placeholder: 'From date'
            = date_field :enddate, params[:enddate], class: "form-control", placeholder: 'To date'
            = submit_tag "Search Trades", class: "btn btn-warning"
- if params[:query].present? && Trade.tagged_with(params[:query]).exists?
    = render "statistics"
    = render "show_trades"
