= flash_messages
= form_for 'review_route', method: :get, html: { id: "review-form" } do
  .form-inline
    .form-group.form_box
      %h2 Search Your Trade Tags
      = text_field_tag :query, params[:query], class: "form-control", placeholder: 'Separate with commas', autofocus: true
      = submit_tag "Search Trades", class: "btn btn-warning", id: "reviewbtn"
      .row
        .col-md-6.col-md-offset-3
          .help-block (Leave blank to search all trades)
- if (params[:query].present? && current_user.trades.tagged_with(params[:query]).exists?) || params[:query] == ""
  = render "statistics"
  = render "show_trades"
  .text-center
    = paginate @trades
