.container
    .section.hero
        .row
            .col-md-8.col-md-offset-2.header
                %h1 Stop Struggling, Start Learning
        .row
            .col-md-8.col-md-offset-2.subheader
                Journal your trades in seconds, uncover your best setups.
        .row
            .col-md-10.col-md-offset-1.video
                <iframe src="//fast.wistia.net/embed/iframe/1fe88te15d" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="378"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
        .row
            .col-md-8.col-md-offset-2.cta
                = link_to 'Start your free 14 day trial instantly', new_user_registration_path, class: "btn btn-lg btn-danger"


    .section.col-md-10.col-md-offset-1.featuresect
        .row.feature
            .col-md-6.featbox
                %h2 Log your trades in seconds.
                %p
                And learn for a lifetime.  By combining a simple tagging system with
                an incredibly intuitive and beautiful interface, logging your trades will no
                longer feel like a chore. Not only will your journaling take less time than ever
                before, you'll be able to extract previously hidden, priceless feedback from your results
                that could change your trading forever.
            .col-md-6.image1.featbox
                = image_tag "tradeform.png", class: "img-responsive"

        .row.feature
            .col-md-6.image.featbox
                = image_tag "screenshots.png", class: "img-responsive"
            .col-md-6.featbox
                %h2 Make your screenshots the hero.
                %p
                Leverage the power of your screenshots to identify your best setups in the
                market.  Never question what your all-star trades look like and compare your best
                and worst trades to ensure constant improvement.

        .row.feature
            .col-md-6.featbox
                %h2 Tag your trades to unlock your potential.
                %p
                By replacing dozens of fields with a simple tag system, you can choose
                exactly what you want to record about your trades.  Do you have a mechanical
                system that use?  Just add it's name!  Are you testing some additional rules? Add
                them as tags on those specific trades and easily determine how their addition is
                impacting your results.  Are you a trader still working out your system?  Add the
                rules you're testing as tags and find the combination that is most profitable.
            .col-md-6.feature3.image.featbox
                = image_tag "tagresults.png", class: "img-responsive"

        .row.feature
            .col-md-6.feature4.image.featbox
                = image_tag "tradeperform.png", class: "img-responsive"
            .col-md-6
                %h2 Deeply understand your performance and constantly improve.
                %p
                Simply by tagging your trades, you'll have access to an incredible amount of
                depth and insight into your performance that was never before possible.  By tagging
                your trades with their specific nuances, you'll be able to discover exactly what's working
                for you and unveil specific setups which are simply not profitable.




    .hr

    .section.midcta
        .row
            .col-md-8.col-md-offset-2.cta
                %h3 Journal in seconds, learn forever.  Join now for a free 14 day trial. It's a great risk/reward opportunity.
                = link_to 'Start your free 14 day trial', new_user_registration_path, class: "btn btn-lg btn-danger"

    .hr

    .section.faq
        .row
            .col-md-8.col-md-offset-2
                %h2 FAQ
        .row
            .col-md-6.col-md-offset-3.question
                %h3 How does this differ from the other online trading journals?
        .row
            .col-md-8.col-md-offset-2.answer
                %p
                The goal of tradejournal.co is to strike the balance between simplicity, speed
                and actionable, useful learning that should be inherent in a trading journal.
                %p
                By not forcing you to fill in field after field of data and letting you instead decide what's
                important for you and your trading, we can make journaling much less of a chore,
                while also creating an incredible opportunity for you to learn your greatest strengths and
                weaknesses by harnessing your specific trade tags.
                %p
                Nearly every single successful trader in history has espoused the importance of having
                a good trading journal, we at tradejournal wanted to make the best.

        .row
            .col-md-6.col-md-offset-3.question
                %h3 How does tagging my trades make me a better trader?
        .row
            .col-md-8.col-md-offset-2.answer
                %p
                Tagging your trades lets you control exactly what you want to record, while also letting
                you discover key insights into your own performance.
                %p
                Let's use an example.  If you're a technical trader who uses candlesticks and support /
                resistance in your trading, you can track exactly what combination of factors is most profitable.
                By tagging your trades with "trend, resistance, pinbar, engulf " and so on (you can choose exactly
                how you decide to tag your specific trades), you give yourself the ability to search those tags in the
                future to see how those factors are performing.
                %p
                Tag technical factors, fundamental factors, the instrument you're trading, the trend, anything you
                can think of and you'll create an incredible pool of data from which to research.  Want to be a minimalist?
                That's ok too.  Just tag your trades with the instrument you're trading and the setup you're using and you're
                still creating an incredible resource for yourself.
        .row
            .col-md-6.col-md-offset-3.question
                %h3 Do I have to upload screenshots?
        .row
            .col-md-8.col-md-offset-2.answer
                %p
                No, we let you decide if you want to upload screenshots or not.  More and more traders
                are marking up screenshots with specific factors that impacted their trades and we wanted
                to support them by letting them store that crucial information alongside a log of each trade (with tags
                if they'd like).
                %p
                If you don't decide to upload an image of your trade at the time of your journaling, you can always
                go back and add it at any time.

        .row
            .col-md-6.col-md-offset-3.question
                %h3 How much does tradejournal cost after the 14 day free trial?
        .row
            .col-md-8.col-md-offset-2.answer
                %p
                tradejournal.co will cost you only $19 a month after your 14 day free trial.  You'll get
                incredibly fast, cloud-based trade journaling that will give you incredible insights
                into your trading performance (You'll also receive constant updates and amazing customer support).

    .hr
    .section.botcta
        .row
            .col-md-8.col-md-offset-2.cta
                %h3 Trial tradejournal.co for free for 14 days.  What you learn could be invaluable.
                %p (no credit card is required)
                = link_to 'Start your free 14 day trial', new_user_registration_path, class: "btn btn-lg btn-danger"
    .hr


.footer
    .row
        .col-md-12
            %p © 2015 Tradergrowth PTY LTD, all rights reserved.