= simple_form_for @trade, html: { multipart: true } do |f|
  .form-inline.form_box
    %h2 Log a Trade
    .form-group
      = f.label "Upload Screenshot"
      = f.input :screenshot, input_html: { class: 'form-control' }, label: false

    .form-group
      = f.label "Trade result"
      = f.input :result, input_html: { placeholder: 'Pips or Points', class: 'form-control' }, label: false

    .form-group
      = f.label "Tags"
      = f.input :tag_list, input_html: { placeholder: 'Seperate with commas', class: 'form-control'  }, label: false

    = f.button :submit, "Log Trade", class: "btn btn-danger"