= simple_form_for @trade, html: { multipart: true } do |f|
  #index-form
    .form-group
      = f.input :screenshot, input_html: { class: 'form-control' }

    .form-group
      = f.input :result, input_html: { class: 'form-control' }

    .form-group
      = f.input :description, input_html: { class: 'form-control' }

    .form-group
      = f.input :tag_list, :value => @trade.tag_list.to_s, input_html: { class: 'form-control' }

    = f.button :submit, class: "btn btn-danger"