= flash_messages

- unless trial_expired?
    = render 'form_index'
- if trial_expired? && @subscribed
    = render 'form_index'
- elsif trial_expired?
    = render 'trial_expired'

= render 'show_trades'
.text-center
    = paginate @trades