#form.horizontal
  = render 'form_index'
#pins.transitions-enabled
  -@trades.each do |trade|
    .box.panel.panel-default
      = link_to (image_tag trade.screenshot.url), trade
      %h2= "#{trade.result} pips"
      %h3= "Tags:"
      %p= trade.tag_list