= flash_messages
#pin_show.row
    .col-md-8.col-md-offset-2
        .panel.panel-default
            .panel-heading.pin_image
                = image_tag @trade.screenshot.url
            .panel-body
                %h1
                    = @trade.result
                    = unit
                %h2 Trade Description
                %p.description= @trade.description
                %h2 Tags
                .showtags
                    - @trade.tags.each do |tag|
                        %p= link_to tag
            .panel-footer.text-center
                .row
                    .col-md-12
                        .btn-group
                            = link_to 'Back', :back, class: "btn btn-default"
                            = link_to 'Edit', edit_trade_path(@trade), class: "btn btn-default"
                            = link_to 'Delete', trade_path, method: :Delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger"
