!!! 5
%html
  %head
    %title tradejournal.co

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag
  %body
    %nav.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar

          .navbar-brand= link_to "tradejournal", root_path

        .collapse.navbar-collapse#bs-navbar-collapse-1
          - if user_signed_in?
            %ul.nav.navbar-nav.navbar-right#tjnav
              %li{class: current_page?(trades_path) && 'active'}
                = link_to trades_path do
                  %span.glyphicon.glyphicon-th
                  Dashboard
              %li{class: current_page?(review_index_path) && 'active'}
                = link_to review_index_path do
                  %span.glyphicon.glyphicon-signal
                  Review
              %li{class: current_page?(edit_user_registration_path) && 'active'}
                = link_to edit_user_registration_path do
                  %span.glyphicon.glyphicon-cog
                  Account
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %span.glyphicon.glyphicon-menu-right
                  Log Out
          - else
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Start Your Free Trial",  new_user_registration_path, id: "navcta"
              %li= link_to "Login",  new_user_session_path
    .container

      = yield

    .footer
      :javascript
          var tr = document.getElementById('tradebtn');
          if(tr){
              tr.addEventListener('click', function(e) {
                  analytics.track('Logged a Trade');
              });
          };

          var re = document.getElementById('reviewbtn');
          if(re){
              re.addEventListener('click', function(e) {
                  analytics.track('Reviewed a Trade');
              });
          };

          var reg = document.getElementById('registerbtn');
          if(reg){
              reg.addEventListener('click', function(e) {
                  analytics.track('Registered for 14 Day Trial');
              });
          };

          var login = document.getElementById('loginbtn');
          if(login){
              login.addEventListener('click', function(e) {
                  analytics.track('Logged In');
              });
          };
