!!! 5
%html
%head
    %title tradejournal.co


    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag
    :javascript
          !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
          analytics.load("DixYUUZ4I9hz5wIBAAhk5wp1CxfjbC8l");
          analytics.page();
          analytics.trackForm($('#trial-form'), 'Joined 14 DayTrial');
          analytics.trackForm($('#new_user'), 'Logged in');
          analytics.trackForm($('#subscribe-button'), 'Subscribe to tradejournal');
          analytics.trackForm($('#trade-form'), 'Logged a trade');
          })
          }}();

%body
    %nav.navbar.navbar-default
        .container
            .navbar-brand= link_to "tradejournal", root_path
            - if user_signed_in?
                %ul.nav.navbar-nav.navbar-right
                    %li= link_to "Dashboard", trades_path
                    %li= link_to "Review", review_index_path
                    %li= link_to "Account", edit_user_registration_path
                    %li= link_to "Log out", destroy_user_session_path, method: :delete
            - else
                %ul.nav.navbar-nav.navbar-right
                    %li= link_to "Start Your Free Trial",  new_user_registration_path, class: "navcta"
                    %li= link_to "Login",  new_user_session_path
    .container
        = yield




